In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("qqqw.xlsx")

In [4]:
df

,test_name,input,output,Unnamed: 3
0,test_open_l,input_file1.txt,"1234:Jozef:Miloslav:Hurban:Legal, 4567:Milan:R...",распарсить оутпут через запятую
1,test_open_l,input_file2.txt,"1111:Pista::Hufnagel:Sales, 4563:Pista::Hufnag...",NaN
2,test_open_l,input_file3.txt,NaN,потенц.проблема
3,test_open_l,qwereww,NaN,потенц.проблема
4,test_open_l,qaddq.txt,NaN,потенц.проблема
5,test_split1,1234:Jozef:Miloslav:Hurban:Legal,NaN,NaN
6,test_split2,4567:Milan:Rastislav:Stefanik:Defence,NaN,NaN
7,test_split3,4563:Jozef::Murgas:Development,NaN,NaN
8,test_split4,incorrect:data,NaN,NaN
9,test_split5,incorrect:4563:Jozef::Murgas:Development:data,NaN,NaN

In [6]:
open_l_df = df.query("test_name=='test_open_l'")

In [8]:
list(open_l_df.input)

['input_file1.txt',
 'input_file2.txt',
 'input_file3.txt',
 'qwereww',
 'qaddq.txt']

In [9]:
list(open_l_df.output)

['1234:Jozef:Miloslav:Hurban:Legal, 4567:Milan:Rastislav:Stefanik:Defence, 4563:Jozef::Murgas:Development, 4167:Milan:Rastislav:Stefanik:Defence',
 '1111:Pista::Hufnagel:Sales, 4563:Pista::Hufnagel:Sales, 4543:Pista::Hufnagel:Sales, 3211:Pista::Hufnagel:Sales, 4133:Pista::Hufnagel:Sales,',
 nan,
 nan,
 nan]